/* GLOBAL */
body {
	background: url("../img/bg.png");
}

/* LAYOUT */
.container {
	background: lightblue;
	margin: 0 auto;
	width: 90%;
}

article section {
	float: left;
	padding: 2%;
	width: 46%;
}

/* Adpative Content */
iframe, img {
	max-width: 100%;
	width: 100%;
}

/* Desktop Query */
@media (min-width: 960px ) {

	#top {
		width: 300px;
	}

}

/* Tablet Query */
@media (min-width: 768px ) {

	section img {
		width: 80%;
	}
}

section h1 {
	
}
